name: itta_med_hackathon CI with Gradle

on:
  pull_request:
    branches: [ "develop" ]
  push:
    branches: [ "develop" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      ## jdk setting
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      ## gradle caching
      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: gradle build를 위한 권한을 부여합니다.
        run: chmod +x gradlew

      - name: gradle build 중입니다.
        run: ./gradlew build
        shell: bash
      - name: docker image build 후 docker hub에 push합니다.
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -f Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/itta_med_hackathon .
          docker push ${{ secrets.DOCKER_USERNAME }}/kukathonf

      ## deploy to production
      - name:  docker hub에서 pull 후 deploy합니다.
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.EC2_USERNAME }}
          host: ${{ secrets.EC2_HOST }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          envs: GITHUB_SHA
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/itta_med_hackathon:latest
            sudo docker stop $(sudo docker ps -q) 2>/dev/null || true
            sudo docker run --rm -d -p 80:8080 --name kukathonf-server ${{ secrets.DOCKER_USERNAME }}/itta_med_hackathon:latest
            sudo docker system prune -f
 
